[Unit]
Description=gunicorn daemon for stockpro
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/stockpro/stockpro
ExecStart=/home/ubuntu/stockpro/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/stockpro/stockpro/gunicorn.sock stockpro.wsgi:application
Environment="PATH=/home/ubuntu/stockpro/venv/bin"
Environment="PYTHONPATH=/home/ubuntu/stockpro/stockpro"
Environment="DJANGO_SETTINGS_MODULE=stockpro.settings"
Restart=always

[Install]
WantedBy=multi-user.target
